# =============================
# model development env
# =============================
tensorflow==2.17.0
keras==3.4.1
pillow
numpy
matplotlib
scikit-learn
seaborn
# =============================
# preprocessing packages
# =============================
imagehash